[submodule "webslayer"]
	path = webslayer
	url = https://github.com/Malphaet/webslayer
[submodule "wfuzz"]
	path = wfuzz
	url = https://github.com/xmendez/wfuzz
[submodule "EmailHarvester"]
	path = EmailHarvester
	url = https://github.com/maldevel/EmailHarvester
[submodule "routersploit"]
	path = routersploit
	url = https://github.com/reverse-shell/routersploit
[submodule "SecTools"]
	path = SecTools
	url = https://github.com/xl7dev/SecTools
[submodule "Penetration-Testing-Toolkit"]
	path = Penetration-Testing-Toolkit
	url = https://github.com/xl7dev/Penetration-Testing-Toolkit
[submodule "LaZagne"]
	path = LaZagne
	url = https://github.com/xl7dev/LaZagne
[submodule "Apache-Vulns"]
	path = Apache-Vulns
	url = https://github.com/styx00/Apache-Vulns
[submodule "Sublist3r"]
	path = Sublist3r
	url = https://github.com/aboul3la/Sublist3r
[submodule "bfac"]
	path = bfac
	url = https://github.com/mazen160/bfac
[submodule "GitTools"]
	path = GitTools
	url = https://github.com/internetwache/GitTools
[submodule "dirfuzz"]
	path = dirfuzz
	url = https://github.com/ring04h/dirfuzz
[submodule "findmyhash"]
	path = findmyhash
	url = https://github.com/frdmn/findmyhash
[submodule "ruby-dirfuzz"]
	path = ruby-dirfuzz
	url = https://github.com/matugm/dirfuzz
[submodule "ptf"]
	path = ptf
	url = https://github.com/trustedsec/ptf
[submodule "theHarvester-laramies"]
	path = theHarvester-laramies
	url = https://github.com/laramies/theHarvester
[submodule "theHarvester-opsdisk"]
	path = theHarvester-opsdisk
	url = https://github.com/opsdisk/theHarvester
[submodule "DVCS-Pillage"]
	path = DVCS-Pillage
	url = https://github.com/evilpacket/DVCS-Pillage
[submodule "dvcs-ripper"]
	path = dvcs-ripper
	url = https://github.com/jordanbtucker/dvcs-ripper
[submodule "gittyleaks"]
	path = gittyleaks
	url = https://github.com/kootenpv/gittyleaks
[submodule "SimplyEmail"]
	path = SimplyEmail
	url = https://github.com/killswitch-GUI/SimplyEmail
[submodule "discover"]
	path = discover
	url = https://github.com/leebaird/discover
